# Ignore compiled class files
*.class

# Ignore log files
*.log

# Ignore IntelliJ IDEA project files
.idea/
*.iml
*.iws

# Ignore build directories
/build/
out/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore serialized objects
*.ser

# Ignore database files
baza.dat